*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards{
    border-radius: 10%;
    height: 45vh;
    width: 35vh;
    border-style: groove;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
}
#card1{
   z-index: 6;
    border-color: rgb(106, 10, 161);
}
#card2{
    z-index: 5;
    rotate: 7deg;
    /* height: 43vh;
    width: 33vh; */
    border-color: rgb(216, 125, 21);
}
#card3{
    
    z-index: 4;
    rotate: 14deg;
    /* height: 41vh;
    width: 31vh; */
    border-color: rgb(25, 173, 20);
}
#card4{
    z-index: 3;
    rotate: 21deg;
    /* height: 39vh;
    width: 29vh; */
    border-color: rgb(161, 6, 68);
}
#card1:hover{
   z-index: 6;
   
}
#card2:hover{
    z-index: 7;
    
}
#card3:hover{
    z-index: 8;
   
}
#card4:hover{
    z-index: 9;
    
}
img{
    width: 100%;
    height: 100%;
}